{% extends "base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{{ block.super }}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  <div id="search-content" align="center">
      <h1>Поиск по буквенному обозначению по всему сборнику</h1>
      <div style="background-color:#212121" id="toolbar">
          <form id="list-search" method="get">
              <div align="center">
                <input type="text" name="q" id="search" value="{{ search }}" autofocus>
                <input type="submit" value="Найти">
              </div>
          </form>
      </div>
      <div class="results">
        <table id="result-list">
            {% for result in results %}
            <tr>
                <td>{{ result.national }}</td>
                <td>{{ result.name }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
  </div>
</div>
{% endblock %}
