{% extends "base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{{ block.super }}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  <div id="search-content" align="center">
      <h1 style="padding:10px;margin:0px">Поиск по буквенному обозначению по всему сборнику</h1>
      <div style="background-color:#212121; margin-bottom:15px" id="toolbar">
          <form id="list-search" method="get">
              <div align="center">
                <input type="text" name="q" id="search" value="{{ search }}" autofocus>
                <input type="submit" value="Найти">
              </div>
          </form>
      </div>
      <div class="results">
          {% for key,values in results.items %}
          {% if values %}
          <h2 style="margin-top:15px"><b>{{ key }}</b></h2>
          <table id="result-list" style="width:100%">
              {% for value in values %}
              <tr>
                  <td style="width:80px">{{ value.national }}</td>
                  <td style="width:80px">{{ value.international }}</td>
                  <td>{{ value.name }}</td>
              </tr>
          {% endfor %}
          </table>
          {% endif %}
          {% endfor %}
      </div>
  </div>
</div>
{% endblock %}
