<!DOCTYPE html>
{% load static %}
<html>
<body>

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<p>Hi</p>
{% if polls_list %}
<ul>
    {% for poll in polls_list %}
        <li><a href="{% url 'polls:vote' poll.id %}">{{ poll }}</a></li>
    {% endfor %}
</ul>

<p>{{ request.user }}</p>

{% elif poll_one %}
        <a href="{% url 'polls:vote' poll_one.id %}">{{ poll_one }}</a>
{% else %}
    <p>No polls are available</p>
{% endif %}

<h1>Getting server updates</h1>
<div id="result"></div>
<script>
    if(typeof(EventSource) !== "undefined") {
      var source = new EventSource("events/");
      source.onmessage = function(event) {
        document.getElementById("result").innerHTML = event.data;
      };
    } else {
      document.getElementById("result").innerHTML = "Sorry, your browser does not support server-sent events...";
    }
</script>

</body>
</html>