<form action="{% url 'polls:vote' poll.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ poll.question }}</h1></legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>
<div class="content">
    <div class="module" id="query">
    <form id="test" method="get">
        <div>
            <input type="text" name="q" id="search" value="{{ result }}" autofocus>
            <input type="submit" value="Search">
        </div>
    </form>
    </div>
    <div class="results">
        Your query: {{ result }}
    </div>
</div>