<table>
    <thead><tr>
        {% for field in inline_admin_formset.fields %}
        <th class="original">{{ field.label }}</th>
        {% endfor %}
    </tr></thead>
    <tbody>
    {% for inline_admin_form in inline_admin_formset %}
    <tr class="!!!form-row">
    {% for fieldset in inline_admin_form %}
      {% for line in fieldset %}
        {% for field in line %}
          <td>
          {% if field.is_readonly %}
              <p>{{ field.contents }}</p>
          {% else %}
              {{ field.field.errors.as_ul }}
              {{ field.field }}
          {% endif %}
          </td>
        {% endfor %}
      {% endfor %}
    {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>